@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    height: 100%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

/* scrollbar styling */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
}

::-webkit-scrollbar {
    width: 4px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    background-color: #757575;
}

.app {
    background-image: url("./assets/vectors/exchange.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.modal-container {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 30;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.modal-container-show {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease-in-out;
}

.modal {
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 46rem;
    max-height: 46rem;
    overflow-y: auto;
    transition: all 0.3s ease-in-out;
    perspective: 1000px;
    opacity: 0;
    visibility: hidden;
    scroll-behavior: smooth;
    background-color: #444444;
    color: #ffffff;
    border-radius: 1rem;
    padding: 1rem 2rem;
    z-index: -1;
}

.modal-show {
    visibility: visible;
    transform: translate(-50%, 3rem);
    transition: all 0.3s ease-in-out;
    transition-delay: 0.3s;
    opacity: 1;
    z-index: 5;
}

table thead {
    box-shadow: 0px 2px 0px -0.5px #ffffff;
}

@media (max-width: 786px) {
    .modal {
        width: calc(100% - 2rem);
        max-height: calc(100% - 6rem);
    }
}
